/* 1. Base */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

.dark {
  background-color: #202020;
  color: white;
}

h1 {
  margin: 0.15em 0;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 18px;
  resize: none;

  border: #bdbdbd 1px solid;
  border-radius: 2px;
}

textarea:focus {
  outline: 1px solid #bdbdbd;
}

.dark textarea {
  background-color: #191919;
  border: #444 1px solid;
  color: white;
}

.dark textarea:focus {
  outline: 1px solid #444;
}

button {
  margin-top: 10px;
  padding: 10px 10px;
  font-size: 16px;

  background-color: #ebebeb;
  border: #bdbdbd 1px solid;
  border-radius: 3px;
}

.dark button {
  background-color: #333;
  border-color: #555;
  color: white;
}

.buttonRow {
  display: flex;
  gap: 10px;
}

#titleRename {
  display: flex;
  margin-top: 0px;
  margin-left: 0px;

  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

#createNote {
  display: flex;
  margin-top: 0px;
  padding: 10px 15px;

  background: #4CAF50;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.sidebar {
  background: #ddd;
  border: #bdbdbd 1px solid;
  border-radius: 2px;
  width: 250px;
}

.dark .sidebar {
  background: #333;
  border-color: #444;
}

.main-container {
  display: flex;
  gap: 10px;
  height: 75vh;
}

#notepad {
  padding: 5px;
}

#characterCounter {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* 2. Preferences */
.preferenceButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: fixed;
  top: 7px;
}

.dark .preferenceButton {
  background: none;
  border: none;

  filter: invert(1);
}

.dark #titleRename {
  filter: invert(1);
}

.fixedIcons {
  width: 24px;
  height: 24px;
}

#themeButton {
  right: 55px;
}

#translateButton {
  right: 15px;
}

#languages {
  display: flex;
  justify-content: center;
  text-align: center;
}

#dropdownTranslate {
  position: fixed;
  top: 45px;
  right: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  background: #ebebeb;
  border: 1px solid #bdbdbd;
}

.dark #dropdownTranslate {
  background: #191919;
  border-color: #444;
}

.row {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* 3. Notifications */
.toast {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #191919;
  color: white;
  padding: 15px;
  border-radius: 8px;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.dark .toast {
  background: #333;
}

.toast.show {
  opacity: 1;
  pointer-events: none;
}

/* 4. Utilities */
.hidden {
  display: none;
}