/* 1. Base */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

html, body, button, textarea,
.sidebar, .trashPanel, .settingsOverlay, .translateDropdown {
  transition: 0.25s ease;
}

.dark {
  color: white;
  background: #202020;
}

h1 {
  margin: 0.15em 0;
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 0.45em;
}

button {
  margin-top: 0px;
  margin-left: 5px;
  padding: 0px 4px;
  font-size: 14px;

  color: black;
  background: #ebebeb;
  border: #bdbdbd 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

.dark button {
  color: white;
  background: #333;
  border-color: #555;
}

.noteTitleRow {
  display: flex;
  align-items: center;
  gap: 25px;
}

#noteTitle {
  border-color: #444;
}

#noteTitle:focus {
  outline: #bdbdbd 2px solid;
  outline-offset: 1px;
  border-radius: 1px;
}

.dark #noteTitle:focus {
  outline-color: #444;
}

.mainContainer {
  display: flex;

  gap: 10px;
  height: 75vh;
}

.sidebar {
  display: flex;
  flex-direction: column;

  width: 250px;
  border-radius: 5px;

  background: #f2f2f2;
  border: #bdbdbd 1px solid;
}

#notesList {
  flex: 1;
}

.dark .sidebar {
  background: #333;
  border-color: #444;
}

.sidebar ul {
    overflow-y: auto;
}

ul {
  margin-top: 10px;
  padding-left: 15px;
}

li {
  margin: 0px 0px;
  line-height: 1.5em;
  list-style-type: none;
}

li span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.trashWrapper {
  position: relative;
}

.trashButton {
  margin-top: auto;
  margin-left: 3px;
  margin-bottom: 3px;

  width: calc(100% - 6px);
  height: 35px;
  border-radius: 5px;

  color: black;
  background: white;

  text-align: center;
  letter-spacing: 1px;
}

.dark .trashButton {
  color: white;
  background: #191919;
}

.trashPanel {
  position: absolute;
  display: flex;
  bottom: 100%;
  left: 50%;

  margin-bottom: 5px;
  padding: 8px 12px;
  border: #bdbdbd 1px solid;
  border-radius: 3px;

  color: black;
  background: white;
  white-space: nowrap;

  pointer-events: none;
  translate: -50%;
  transform: translateY(-7px);
  opacity: 0;
}

.trashPanel.active {
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
}

.dark .trashPanel {
  color: #fff;
  background: #191919;
  border-color: #444;
}

textarea {
  width: 100%;
  height: calc(75vh - 40px);
  font-size: 18px;
  resize: none;
  padding: 5px;

  border: #bdbdbd 1px solid;
  border-radius: 5px;
}

.dark textarea {
  color: white;
  background: #191919;
  border-color: #444;
}

textarea:focus {
  outline: 1px solid #bdbdbd;
}

.dark textarea:focus {
  outline: 1px solid #444;
}

.composer {
  width: 100%;
}

#saveButton,
#deleteButton {
  margin-top: 1px;
  margin-left: 0px;

  width: clamp(85px, 15vw, 200px);
  height: 35px;
}

.settingsOverlay {
  position: fixed;
  display: grid;
  top: 50px;
  right: 15px;

  width: fit-content;
  padding: 15px;
  gap: 7px;

  background: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 6px;

  pointer-events: none;
  opacity: 0;
  transform: translateY(-7px);
}

.settingsOverlay.active {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}

.dark .settingsOverlay {
  background: #333;
  border-color: #444;
}

#characterCounter {
  margin-top: 5px;
}

#rights {
  margin-top: 25px;
  text-align: center;
  color:#b8b8b8;
}

.dark #rights {
  color: #5f5f5f;
}

/* 2. Preferences */
.preferenceButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.dark .preferenceButton {
  background: none;
  filter: invert(1);
}

.fixedIcons {
  width: 24px;
  height: 24px;
}

#openSettingsButton {
  position: fixed;
  top: 15px;
  right: 15px;
}

.translateDropdown {
  position: fixed;
  top: 10px;
  right: 65px;
  padding: 10px;
  width: 125px;

  background: #f2f2f2;
  border: #bdbdbd 1px solid;
  border-radius: 5px;

  pointer-events: none;
  opacity: 0;
  transform: translateY(-7px);
}

.translateDropdown.active {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}

.dark .translateDropdown {
  background: #191919;
  border-color: #444;
}

#languages {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* 3. Notifications */
.toast {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;

  color: white;
  background: #191919;
  border-radius: 8px;
}

.dark .toast {
  background: #333;
}

.toast.show {
  opacity: 1;
  pointer-events: none;
}

/* 4. Utilities */
.hidden {
  display: none;
}